@font-face {
  font-family: "GlacialIndiference";
  src: url("https://storage.googleapis.com/pb-portfolio/WEB/GlacialIndifference-Bold.woff") format("woff");
  src: url("https://storage.googleapis.com/pb-portfolio/WEB/GlacialIndifference-Regular.woff") format("woff");
  src: url("https://storage.googleapis.com/pb-portfolio/WEB/GlacialIndifference-Regular.woff2") format("woff2");
}

body,
html {
  font-family: "GlacialIndiference", sans-serif; 
}

/* *{
  border: 1px solid gold;
} */



